{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-trailing-spaces": "error",
    "eol-last": "error"
  }
}
